.wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.contacts-wrapper {
  display: flex;
  justify-content: end;
  margin-left: 100px;
}


.info-bord {
  font-size: 18px;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 0;
  margin: 0;
}
.nav__list li {
  position: relative;
}

.nav__list li:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 8px;    
  height: 8px;
  border: 1px solid black; 
  border-radius: 50%;       
  left: -20px;           
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;  
}



.nav__list a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
}

.nav__list li:first-child a {
  border-bottom: none;
}


.logo {
  padding-top: 92px;
  padding-bottom: 96px;
}
.logo img{
  width: 148px;
  height: 105px;
}

.contacts__list a {
  align-self: flex-start;
  display: inline;

  padding-bottom: 2px;
  text-decoration: none;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  
}

.contacts__list p {
  font-size: 18px;
  margin: 0;
  line-height: 1.3;
}
.hero__title {
  display: flex;
  flex-direction: column;   
  align-items: flex-start;   
  gap: 64px;     
 margin-top: 33px;  
  margin-left:0px; 
  pointer-events: none;
}

.hero__title span {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 100px;        
  font-weight: 700;
  letter-spacing: 0.28em; 
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  pointer-events: auto;
}

.hero__title .ono {
   align-self: flex-start;
  padding-left: ;   
  padding-right: 203px;
}

.hero__title .tebe {
  align-self: center;  

}

.hero__title .nado {
  align-self: flex-end; 
  
}

.cover {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.cover__inner {
    display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: inherit;
  padding: 140px 48px 50px;
  position: relative;
  z-index: 2;
}


.description p {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  white-space: nowrap;       
  overflow: hidden;         
  text-overflow: ellipsis;    
  flex: 1 1 auto;
}


.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50;
  color:white;
}
.description a {
  display: inline-flex;       
  align-items: center;
  justify-content: center;
  white-space: nowrap;        
  font-size: 22px;
  padding: 12px 28px;
  border: 1px solid rgba(255,255,255,0.95);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  min-width: 220px;             
  line-height: 1;
  box-sizing: border-box;
   min-height: 51px;  
  min-width: 220px;   
  padding: 12px 28px;
}
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.hero__title,
.description,
.lots__link {
  position: relative;
  z-index: 2;
}
.button:hover {
  background-color: white;
  color: black;
}
.lots {
  margin-top: 180px;
}
.lots__title {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.lots__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__item {
  position: relative;
   min-height: 600px;   /* минимум */
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots__item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  position: relative;
  z-index: 2;
}

.lots__item-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.2;
  margin-bottom: auto;
  padding-bottom: 10px;
}
.lots__item-title span {
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(white, white);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.lots__link article {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.next {
    font-size: 20px;
  margin-top: 53px;
  position: relative;
  left: 40px;
  top: 53px; 
}
.next a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.lots__item-text {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}
.lots__item_film {
  background-image: url("../images/card-lot-01.jpg");
}

.lots__item_book {
  background-image: url("../images/card-lot-02.jpg");
}

.lots__item_painting {
  background-image: url("../images/card-lot-03.jpg");
}
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: start;

  margin-top: 180px;
}

.about__logo {
 width: 240px;
  min-height: 240px;
  display: flex;
  justify-content: center;
  margin-left: 72px;
  align-items: center;
}

.about__logo img {
  width: 240px;
  height: auto;
}

.about__content {
  max-width: 600px;
  margin-top: 100px;
  padding-bottom: 180px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 100px;
  margin-bottom: 25px;
}

.about__text {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;

}

.footer {
  padding: 90px 0 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  font-size: 18px;
}

.footer__contacts {
  display: flex;
  align-items: flex-start !important;
  width: auto !important;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
}
.footer__contact-link{
  border-bottom:1px solid black;
}

.footer__address {
  margin-top: 5px;
  line-height: 1.3;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}



.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__socials img {
  width: 48px;
  height: 48px;
  
}
.nav__item--underline a {
  border-bottom: 1px solid black;
}
.dark-overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.contact_address{
  margin-right: 50px;
}
.main-span{
  text-decoration: none;
}