header {
    display: flex;
    align-items: center;
    gap: 37px;
    justify-content: center;
    padding-top: 96px;
    padding-bottom:96px;
  
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__list li {
    position: relative;
}

.nav__list li:not(:first-child)::before {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}


.nav__list a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding-bottom: 4px;
}

.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
    border-bottom: 1px solid black;
}

.nav__list li:first-child a {
    border-bottom: none;
}


.logo {
    width: 148px;
}


.contact-info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-left: 100px;
    gap: 6px;
}

.contact-info a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.contact-info p {
    font-size: 18px;
    margin: 0;
    line-height: 1.3;
}
