.wrapper {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.address-wrap {
  display: flex;
  justify-content: end;
}
header {
  padding-top: 92px;
  padding-bottom: 96px;
}
.info-bord {
  font-size: 18px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
}
.nav__list li {
  position: relative;
}

.nav__list li:not(:first-child)::before {
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.nav__list a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding-bottom: 4px;
}

.nav__list li:nth-child(2) a,
.nav__list li:nth-child(3) a {
  border-bottom: 1px solid black;
}

.nav__list li:first-child a {
  border-bottom: none;
}

.logo {
  width: 148px;
}

.contact-info a {
  align-self: flex-start;
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  text-decoration: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-style: normal;
  margin-left: 100px;
  gap: 6px;
}

.contact-info p {
  font-size: 18px;
  margin: 0;
  line-height: 1.3;
}

.hero__title {
  font-size: 100px;
  color: white;
}

.cover {
  width: 100%;
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  pointer-events: none;
}

.hero__title span {
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  pointer-events: auto;
}

.hero__title .ono {
  justify-self: start;
  transform: translateY(-150px) translateX(40px);
}

.hero__title .tebe {
  justify-self: center;
  transform: translateY(0);
}

.hero__title .nado {
  justify-self: end;
  transform: translateY(150px) translateX(-90px);
}

.description {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 48px;
  color: #fff;
}

.description p {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0;
}

.description a {
  font-size: 20px;
  padding: 15px 35px;
  border: 1px solid white;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  backdrop-filter: blur(1px);
}
.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
.hero__title,
.description {
  z-index: 2;
}
.button:hover {
  background-color: white;
  color: black;
}
.lots {
  margin-top: 180px;
}
.lots__title {
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.lots__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__item {
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots__item::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px;
  position: relative;
  z-index: 2;
}

.lots__item-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.2;
  margin-bottom: auto;
  padding-bottom: 10px;
}
.lots__item-title span {
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(white, white);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
.next {
  margin-left: 20px;
  padding-top: 30px;
  font-size: 20px;
}
.next a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
.lots__item-text {
  font-size: 18px;
  line-height: 1.4;
  margin-top: 20px;
}
.lots__item_film {
  background-image: url("../images/card-lot-01.jpg");
}

.lots__item_book {
  background-image: url("../images/card-lot-02.jpg");
}

.lots__item_painting {
  background-image: url("../images/card-lot-03.jpg");
}
.about {
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: start;

  margin-top: 180px;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo img {
  width: 70%;
  height: auto;
}

.about__content {
  max-width: 600px;
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.about__text {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.footer {
  margin-top: 180px;
  padding: 90px 0 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  font-size: 18px;
}

.footer__contacts {
  display: flex;
  align-items: flex-start !important;
  width: auto !important;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
}

.footer__contact-link {
  display: inline-block;
  width: auto;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  color: black;
  text-decoration: none;
}

.footer__address {
  margin-top: 5px;
  line-height: 1.3;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__menu-link {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: none;
}

.footer__menu-list li:nth-child(2) .footer__menu-link,
.footer__menu-list li:nth-child(3) .footer__menu-link {
  border-bottom: 1px solid black;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__socials img {
  width: 45px;
  height: 45px;
}
